version: '2.4'

services:

  gateway:
    container_name: gateway
    build:
      context: .
      dockerfile: Dockerfile-dev
    volumes:
      - /usr/app/node_modules
      - .:/usr/app/
    environment:
      - NODE_ENV=development
    networks:
      - backend
    ports:
      - 8111:8080
    restart: always

networks:
  backend:

