version: '2.4'

services:

  gateway:
    container_name: gateway
    build:
      context: .
      dockerfile: Dockerfile-dev
    volumes:
      - /usr/src/node_modules
      # - /usr/src/middleware/plugins
      # - /usr/src/resources/data
      - .:/usr/src
    environment:
      - NODE_ENV=development
    networks:
      - backend
    ports:
      - 8111:8080
    restart: always

networks:
  backend:

